<form method="post" action="{{ path('app_national_team_delete', {'id': national_team.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ national_team.id) }}">
    <button class="btn">Supprimer</button>
</form>
