<form method="post" action="{{ path('app_club_team_delete', {'id': club_team.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ club_team.id) }}">
    <button class="btn">Supprimer</button>
</form>
