{% extends 'base.html.twig' %}

{% block title %}ClubTeam{% endblock %}

{% block body %}
    {{ parent() }}
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-12">BIG DEV</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{{ path('app_club_team_index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active">Détail club</li>
            </ol>
            <div class="mb-12">
                <a href="{{ path('app_club_team_edit', {'id': club_team.id}) }}" class="btn btn-primary">Mettre à jour</a>

                {{ include('club_team/_delete_form.html.twig') }}
            </div>
            <div class="card mb-12">
                <div class="card-header">
                    <svg class="svg-inline--fa fa-table me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M64 256V160H224v96H64zm0 64H224v96H64V320zm224 96V320H448v96H288zM448 256H288V160H448v96zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"></path></svg><!-- <i class="fas fa-table me-1"></i> Font Awesome fontawesome.com -->
                    Détail club
                </div>
                <div class="card-body overflow-auto">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ club_team.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ club_team.name }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
